---
import Blog from "../components/Blog.astro";
import Header from "../layouts/Header.astro";
---
<html>
  <head>
    <title>My Homepage</title>
  </head>
  <body>
  <Header>
  dddd{Astro.props.title}
   <Blog></Blog></Header>
  </body>
</html>