---
interface Blogs {
    id: number;
    name: string;
    description: string;
    body: string;
    author: string;
    slug:string;
}

const blogs: Blogs[] = [{
    id: 1,
    name: 'Blog 1',
    description: 'This is the first blog',
    body: 'This is the first blog',
    author: 'John Doe',
    slug:"Building-fast-web-application-using-Astro"
}];
---
    <div>
        <h1>Blogs</h1>
        <ul>   
            {
                blogs.map(blog =>  
                <div class="media mb-3">
                    <div class="media-body p-2 shadow-sm rounded bg-light border">
                        <h6 class="mt-0 mb-1 text-muted">{blog.author}</h6>
                        <a href={blog.slug}>{blog.name}</a>
                    </div>
                </div>)
            }      
        </ul> 
    </div>